.buttonToggle {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5%;
    margin: 2px;
}

.buttonToggle {
    transition-duration: 0.4s;
  }
  
  .buttonToggle:hover {
    background-color: #4c4eaf; /* Green */
    color: white;
  }

  .buttonToggle {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .buttonToggle:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }